<h1>User: <%= @user.name %></h1>

<p>Email: <%= @user.email if @user.email %></p>
<p>You are following these blogs: 
<ul>
	<% @blogs_following.each do |f| %>
		<li><%= f["name"] %></li>
	<% end %>
</ul>

</p>
